

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.6rem 0.6rem 1rem 0.6rem;
    padding: 0.1rem 2rem;
    background-color: #f0efe453; 
    backdrop-filter: blur(1rem); /* Creates the blur effect on the background */
    box-shadow: 0 0 0.4rem 0.2rem rgba(55, 55, 55, 0.2); /* Adds a soft glow/blur around the edges */
    border-radius: 0rem; /* Optional: makes the edges rounded */
}

  
  .signature img {
    margin-top: 0.3rem;
    max-width: 150px; /* Adjust this value as needed */
    height: auto; /* Maintain aspect ratio */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Shadow effect */

  }
  
  .nav-links {
    display: flex;
    list-style: none;
    gap: 5rem;
  }
  
  .nav-links li {
    display: inline-block;
  }
  
  .nav-links a {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Shadow effect */

    font-family: "futura-pt", sans-serif !important;
    font-variation-settings: "wght" 300;
    color: #f0efe4;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  .menu-icon {
    color: #f0efe4;
    display: none; /* Hide by default */
    cursor: pointer;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Shadow effect */

  }
  
  @media (max-width: 768px) {
    .nav-links {
      display: none; /* Hide navigation links on small screens */
      flex-direction: column;
      gap: 10px;
      text-align: center;
    }
  
    .nav-links.active {
        margin-top: 1rem;
        text-align: right;
        min-height: 20vw;
        display: flex; /* Show links when the menu is open */
    }
  
    .menu-icon {
        display: block;
        font-size: 2rem; /* Increase this value to make the icon bigger */
        cursor: pointer;
    }
  }
  